/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.form {
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
}

.gallery-item {
  width: calc((100% - 32px) / 3);
}

.gallery img {
  width: 100%;
  display: block;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.loader {
  display: none;
  margin: 20px auto;
}

.loader.visible {
  display: block;
}

.loader {
  color: #000;
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation:
    mltShdSpin 1.7s infinite ease,
    round 1.7s infinite ease;
}

.hidden {
  display: none;
}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
